/* Privacy.module.scss */

.container {
  min-height: 110vh;
  padding: 1rem;
  @media (min-width: 1024px) {
    padding-left: 7%;
    padding-right: 7%;
  }
  margin-bottom: 6rem;
  @media (min-width: 640px) {
    margin-bottom: 18rem;
  }
  font-family: "Poppins", sans-serif;
}

.innerContainer {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  // background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 2rem;
}

.heading {
  font-size: 2.875rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.text {
  margin-bottom: 1.5rem;
}

.subheading {
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.list {
  list-style-type: disc;
  padding-left: 2rem;
  margin-bottom: 1.5rem;
}

.link {
  color: #2563eb;
}

.mt8 {
  margin-top: 2rem;
}

.mt2 {
  margin-top: 0.5rem;
}


.text{
  font-size: 18px !important;
}


.goback{
  font-size: 30px;
}

.goBack{
  margin-top: 5px;
  cursor: pointer;
}

.arrowIcon{
  margin-top: 8px !important;
  cursor: pointer;
}
