.termsPageContainer {
  padding: 4% 10%;
}
.termsPageContainer h1 {
  font-size: 50px;
  letter-spacing: 2px;
}
.termsPageContainer h1 span {
  font-size: 25px;
  margin-right: 3%;
}
.pageContent h4 {
  padding: 2% 0;
  font-family: 'Poppins', sans-serif;
  font-size: large;
  font-weight: 400;
}
.pageContent ul li {
  font-family: 'Poppins', sans-serif;
}
@media (max-width: 600px){
 .termsPageContainer h1 {
  font-size: 25px;}
}

