@import '../../../app//custom.scss'; // Import your variables if needed

.container {
  display: flex;
  justify-content: center;
}

.slider {
  position: relative;
  width: 100%;
  color: $heading-text;
  font-family: $font-poppins;

  &__track,
  &__range,
  &__left-value,
  &__right-value {
    position: absolute;
  }

  &__track,
  &__range {
    border-radius: 3px;
    height: 5px;
  }

  &__track {
    background-color: $progress-track;
    width: 100%;
    z-index: 1;
    height: 8px;
  }

  &__range {
    background-color: $purple-100;
    z-index: 2;
    height: 8px;
  }

  &__left-value,
  &__right-value {
    color: #dee2e6;
    font-size: 12px;
    margin-top: 20px;
  }

  &__left-value {
    left: 6px;
  }

  &__right-value {
    right: -4px;
  }
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 100%;
  outline: none;

  &--zindex-3 {
    z-index: 3;
  }

  &--zindex-4 {
    z-index: 4;
  }

  &--zindex-5 {
    z-index: 5;
  }

  /* For Chrome browsers */
  &::-webkit-slider-thumb {
    background-color: $heading-text;
    border: 1px solid $purple-100;
    border-radius: 50%;
    box-shadow: 0px 2px 4px -2px #1018280f;
    cursor: pointer;
    height: 24px;
    width: 24px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }

  /* For Firefox browsers */
  &::-moz-range-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }
}
