@import '../../../app/custom.scss';

  .instructions {
    font-size: 1rem;
    margin-bottom: 1rem;

    ol {
      list-style: none;
      padding: 0;
      counter-reset: step-counter;

      li {
        display: flex;
        margin-bottom: 1rem;
        margin-top: 1rem;
        counter-increment: step-counter;

        &::before {
          content: counter(step-counter);
          display: inline-block;
          background-color: white;
          color: black;
          width: 1.5rem;
          height: 1.5rem;
          min-width: 1.5rem;
          min-height: 1.5rem;
          border-radius: 50%;
          text-align: center;
          margin-right: 0.5rem;
          margin-top: 0.5rem;
          font-weight: bold;
        }
      }
    }
  }

  .code{
    color: #A17FFF;
  }

