@import '../../../app/custom.scss';


.otpIncorrect {
  color: red;
}

.formContainer0{
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
  padding: 5px;
  justify-content: space-between;
  box-sizing: border-box;
}


.otparrow{
  display:flex;
  align-items: center;
}

.arrow01{
  margin-right: 14px;
  cursor: pointer;
}

.otp_contain_justify{
  display: inline-block;
}

@media (max-width: 992px){

  .containerRow{
    padding: 40px;
    width: 90%;
    margin: 0 auto;
  }

  .arrow01{
    position: fixed;
    left: 24px;
    top: 24px;
    z-index: 99;
  }
  
}

@media (max-width: 576px){

  .formContainer0{
    padding: 24px 16px !important
  }
  .otpContainer{
    // padding: 24px 16px !important
  }
  .containerRow{
    padding: 0;
    width: 100%;
    margin: 0 auto;
  }

  .commonCardsdw{
    padding: 24px !important;
  }

}

/////////////

.text-paragraph-w_{
  font-size: 16px !important;
}
