.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
}

.otpContainer {
  display: flex;
  justify-content: center;
  // gap: 1rem;
}

.otpInput {
  width: 100% !important;
  height: 100px !important;
  border: 1px solid #fff;
  border-radius: 1.2rem !important; // Slightly less rounded corners
  background-color: transparent;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  outline: none;
  margin: 10px;
}

.error {
  border: 1px solid red;
}

.validationMessage {
  color: red;
  margin-top: 1rem;
}

@media (max-device-width: 1200px) {
  .otpInput {
    width: 100% !important;
    height: 80px !important;
    border-radius: 0.9rem !important;
  }
}

@media (max-device-width: 992px) {
  .otpInput {
    width: 100% !important;
    height: 100px !important;
    border-radius: 0.9rem !important;
  }
}

@media (max-width: 576px) {
  .otpInput {
    width: 100% !important;
    height: 76px !important;
    border-radius: 12px !important;
    margin: 8px;
  }
}
