.fixedBottom {
//   position: fixed;
//   bottom: 0;
}
.add_kid_button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 40px;
  border: .125rem dashed #ffffff;
  border-radius: 12px;
  background-color: transparent;
  color: #a78bfa;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  font-family: Poppins;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(167, 139, 250, 0.1);
  }

  span {
    display: flex;
    align-items: center;

    &:before {
    //   content: "+";
      display: inline-block;
      margin-right: 8px;
      font-size: 20px;
    }
  }
}


.delete_kid_button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #000; // Black background
  color: #ff0000; // Red text and icon color
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  // &:hover {
  //   background-color: rgba(255, 0, 0, 0.1); // Slightly transparent red on hover
  // }

  .icon {
    margin-right: 8px; // Space between icon and text
    font-size: 30px; // Icon size
  }

  span {
    font-size: 18px; // Adjust the text size if needed
    margin-top: 1px;
    margin-left: 4px;
    font-family: poppins;
  }
}

.mandertystar {
  color: red;
}


.customflex_main_gender{
  width: 100%;
  justify-content: space-between !important;
}

.delete_kid_box0{
  padding-bottom: 5px;
  border-bottom: 2px solid #4C4C4C;
}
